bottom-nav {
    display: grid;
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    background-color: var(--background-color);
    color: #fff;
    font-weight: 100;
    column-gap: 3em;
}

bottom-nav div.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

bottom-nav ul {
    list-style: circle;
    padding-top: 2.4em;
}

bottom-nav li {
    margin: 0.6em 0;
}

bottom-nav a {
    color: #fff;
    text-decoration: none;
}

bottom-nav span.copyright {
    display: grid;
    text-align: center;
    margin-top: 3em;
    grid-column-end: span 2;
}

@media (max-width: 800px) {
    bottom-nav {
        display: block;
    }

    bottom-nav ul {
        padding-top: 0;
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    bottom-nav ul {
        margin-bottom: 0;
    }

    bottom-nav div.links {
        grid-template-columns: 1fr;
    }
}