contact-form div {
    margin-bottom: 1em;
}

contact-form label {
    display: block;
}

contact-form input,
contact-form textarea {
    width: 50%;
    border: 1px solid var(--border-color);
    border-radius: 0.4em;
    font-size: 0.8em;
    padding: 0.4em;
}

contact-form textarea {
    height: 10em;
}

contact-form button {
    border: 1px solid var(--border-color);
    border-radius: 0.4em;
    cursor: pointer;
    padding: 0.4em 1em;
    font-size: 1.2em;
}

contact-form span.error {
    display: block;
    color: var(--error-color);
    font-size: 0.8em;
}

@media (max-width: 800px) {

    contact-form input,
    contact-form textarea {
        width: 100%;
    }
}