cookies-section {
    background-color: #fff;
    padding: 6em 1em 2em 1em;
    display: block;
}

cookies-section h2 {
    text-align: center;
}

cookies-section .mobile {
    display: none;
}

cookies-section a {
    color: var(--text-color);
}

cookies-section table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid var(--border-color)
}

cookies-section table th,
cookies-section table td {
    padding: 0.4em;
}

cookies-section table thead {
    background-color: var(--background-color);
    color: #fff;
}

cookies-section table tbody tr:nth-child(even) {
    background-color: var(--even-row-color);
}

@media (max-width: 800px) {
    cookies-section .mobile {
        display: block;
    }

    cookies-section table {
        border: none;
    }

    cookies-section table thead {
        display: none;
    }

    cookies-section table tbody tr:nth-child(even) {
        background-color: #fff;
    }

    cookies-section table tr {
        display: grid;
        border: 1px solid var(--border-color);
        margin-bottom: 1em;
        border-radius: 0.6em;
    }

    cookies-section table td {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}