tagline-section {
    background-color: #fff;
    padding: 2em 1em;
    display: block;
}

tagline-section h2 {
    text-align: center;
}

tagline-section {
    text-align: center;
    background-color: #fff;
}